@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
      url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  }

body {
    font-family: Montserrat, Arial, sans-serif;
    background-color: rgba(12, 17, 33, 0.94);
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgb(255, 255, 255);
}
p, a {
    font-size: 20px;
}

a.nav-link, a {
    color: rgb(255, 255, 255);

}

.navbar {
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

a.nav-link:hover, a:hover {
    color: #E22545;
}
.nav-pills a.nav-link.active {
    background-color: #E22545;
    border-radius: 5px;
}

h1 {
    font-size: 42px;
}

p.small {
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255)
}
.form-control-lg {
    border-radius: 5px;

}

.form-control:focus {
    background-color: #FFF;
    border-color: #E22545;
    outline: 0;
    box-shadow: 0 0 0 2px #E22545;
  }

textarea {
    resize: none;
}

.button {
    background-color: #E22545;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
}

.button:hover {
    background-color: #E22545;
    color: rgba(12, 17, 33, 0.94);
}



@media (max-width: 600px) {
    p {
        text-align: justify;
    }
    h1 {
        text-align: center;
    }
    .navbar-brand {
        margin: 0 auto;
    }
}

.window {
    width: 450px;
    height: 500px;
    margin: 16% auto;
    background: rgba(12, 17, 33, 0.94);
    border: 1px solid #fff;
    border-radius: 5px;
    z-index: 150;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: rgb(255, 255, 255);
}

.forma{
    width: 350px;
    margin: 20px auto 20px auto;
    text-align: center;
    z-index: 150;
}